<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="assets/money_icon_129157.png" alt="" width="32" height="32" class="d-inline-block align-text-top">
      Conversor de moedas
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="listar-simbolos">Listar símbolos das moedas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="converter-real-dolar">Converter Real para Dolar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="converter-moedas">Converter moedas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
